*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "robo";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
button{
border: none;
}

.container{
   max-width: 1350px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
p{
    color: white;
}