.section__h1 {
  width: 1208px;
  font-size: 28px;
  line-height: 38px;
}
.section__span {
    color: #9F9F9F;
    font-size:18px ;
    line-height:38px ;
    margin-top: 36px;
    width: 1000px;
}
.section__wrapper{
    margin-top: 100px;
}